---
import type { CollectionEntry } from "astro:content";
import { flex } from "~pandacss/patterns";
import PageHeadline from "../page_headline/page_headline.astro";
import Link from "./link.astro";

const styles = {
  root: flex({ direction: "column", gap: 32 }),
};

type Props = {
  product: CollectionEntry<"product">["data"];
};

const { product } = Astro.props;
---

<div class:list={styles.root}>
  <PageHeadline title={product.title} subhead={product.subhead} />
  <Link links={product.links} />
</div>
