.root {
  @apply flex gap-4 overflow-x-auto;

  // hidden scrollbar
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.image {
  @apply max-h-[260px] aspect-video rounded-extra-large object-cover;
}
