---
import StyledLink from "~/components/styled_link/styled_link.astro";
import { flex } from "~pandacss/patterns";

type BreadcrumbItem = { label: string; href: string };
type BreadcrumbItemCurrent = { label: string };

type Props = {
  list: [...BreadcrumbItem[], BreadcrumbItemCurrent];
};

const { list } = Astro.props;
---

<nav class={flex({ gap: 8, textStyle: "label-large" })} aria-label="Breadcrumb">
  {
    list.map((item, index) => {
      const isCurrent = !("href" in item);

      return (
        <>
          {index > 0 && <span>/</span>}
          {isCurrent ? (
            <span aria-current="page">{item.label}</span>
          ) : (
            <StyledLink href={item.href}>{item.label}</StyledLink>
          )}
        </>
      );
    })
  }
</nav>
