@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply flex flex-col min-h-screen bg-dark-surface text-dark-on-surface fill-dark-on-surface;
  }

  * {
    @apply border-dark shadow-dark;
  }

  :focus-visible {
    @apply outline-dark-primary;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
  }
}
