---
import Button from "~/components/button/button.astro";
import PageHeadline from "~/features/page_headline/page_headline.astro";
import Application from "~/layouts/application.astro";
---

<Application>
  <PageHeadline
    title="404 Not Found"
    subhead="There seems to be nothing here."
  />

  <span>
    <Button as="a" href="/"> Back to Top Page </Button>
  </span>
</Application>
