---
import { getCollection, getEntry } from "astro:content";
import Application from "~/layouts/application.astro";

const entry = await getEntry("profile", "canoypa");
const { Content } = await entry.render();

const products = await getCollection("product");
const posts = await getCollection("post");
---

<Application>
  <Content />

  {
    products.map((product) => (
      <ul>
        <li>
          <a href={`/products/${product.slug}`}>{product.slug}</a>
        </li>
      </ul>
    ))
  }

  {
    posts.map((post) => (
      <ul>
        <li>
          <a href={`/blog/${post.slug}`}>{post.slug}</a>
        </li>
      </ul>
    ))
  }
</Application>
