---
import { getCollection, getEntry } from "astro:content";
import { BlogList } from "~/features/blog";
import { ProductList } from "~/features/product";
import { Hero } from "~/features/profile";
import Application from "~/layouts/application.astro";
import { css } from "~pandacss/css";
import { flex } from "~pandacss/patterns";

const entry = await getEntry("profile", "canoypa");
const { Content } = await entry.render();

const products = await getCollection("product");
const posts = await getCollection("post");
---

<Application>
  <Hero profile={entry.data} />
  <Content />

  <div class:list={flex({ direction: "column", rowGap: 16 })}>
    <h2
      class:list={css({
        textStyle: "display-small",
        fontFamily: "comfortaa",
      })}
    >
      Products
    </h2>
    <ProductList items={products} />
  </div>

  <div class:list={flex({ direction: "column", rowGap: 16 })}>
    <h2
      class:list={css({
        textStyle: "display-small",
        fontFamily: "comfortaa",
      })}
    >
      Blog
    </h2>
    <BlogList items={posts} />
  </div>
</Application>
