---
import { Footer } from "~/features/footer";
import { MainContents } from "~/features/main_contents";
import "~/styles/globals.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="color-scheme" content="dark" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
    <link
      rel="apple-touch-icon"
      href="/apple-icon.png"
      type="image/png"
      sizes="180x180"
    />

    <slot name="head" />
  </head>
  <body>
    <MainContents>
      <slot />
    </MainContents>
    <Footer />
  </body>
</html>
