---
import { Font } from "astro:assets";
import Footer from "~/features/footer/footer.astro";
import MainContents from "~/features/main_contents/main_contents.astro";

import "~/styles/globals.css";
import { grid } from "~pandacss/patterns";

const styles = {
  body: grid({
    gridTemplateRows: "1fr auto",
    gridTemplateColumns: "minmax(0, 1fr)",
  }),
};
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="color-scheme" content="dark" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
    <link
      rel="apple-touch-icon"
      href="/apple-icon.png"
      type="image/png"
      sizes="180x180"
    />

    <Font cssVariable="--font-comfortaa" preload />
    <Font cssVariable="--font-kosugi-maru" preload />

    <slot name="head" />

    <script>
      import { init } from "astro/virtual-modules/prefetch.js";
      init({ prefetchAll: true });
    </script>
  </head>
  <body class:list={styles.body}>
    <MainContents>
      <slot />
    </MainContents>
    <Footer />
  </body>
</html>
